<button type="button" class="add-root-folder" (click)="isAddingNewNode = true">
  Add folder to root
</button>

<div class="folder-tree">
  <div *ngFor="let data of dataSource">
    <app-node [data]="data"></app-node>
  </div>

  <div *ngIf="isAddingNewNode" class="current-node">
    <img src="../../assets/images/folder-open-regular.svg" alter="folder image" width="14px">
    <input type="text" [(ngModel)]="newNodeName" />
    <div class="current-node-actions">
      <div class="current-node-actions-add" (click)="addNewNode()">+</div>
      <div class="current-node-actions-remove" (click)="cancelNewNode()">X</div>
    </div>
  </div>
</div>

<pre>{{ dataSource | json }}</pre>